In [1]:
import pandas as pd
import json

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [2]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

In [3]:
# Iterate through the backers DataFrame and convert each row to a dictionary.

    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    
    # Append the list of values for each row to a list. 
    

# Print out the list of values for each row.

In [4]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists.

In [5]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [2]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
backers_info = pd.read_csv("backer_info.csv")
backers_info.head()

                                                                                          backer_info
0        {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1        {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2          {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3  {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4               {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}

In [3]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".

# Iterating through every row of the backers_info DataFrame to capture all of the backer_ids using a regular expression, 
# and appending these backer_ids to a list that we will place into the backers_info DataFrame as a new column.
import re
backer_id_list = []

for i in range(len(backers_info)):
    backer_id = re.findall(r'[a-z]{2}\d{3}', string = backers_info["backer_info"][i])
    
    if backer_id not in backer_id_list:
        backer_id_list.append(backer_id[0])

backers_info["backer_id"] = backer_id_list
backers_info.head(10)

,backer_info,backer_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506
5,"{""backer_id"": ""lh382"", ""cf_id"": 563, ""name"": ""Lambert Huber"", ""email"": ""lhuber@live.com""}",lh382
6,"{""backer_id"": ""em444"", ""cf_id"": 563, ""name"": ""Emmy Morin"", ""email"": ""emorin@live.com""}",em444
7,"{""backer_id"": ""at582"", ""cf_id"": 1572, ""name"": ""Armonda Trani"", ""email"": ""atrani@live.com""}",at582
8,"{""backer_id"": ""id772"", ""cf_id"": 1911, ""name"": ""Ilana Duke"", ""email"": ""iduke@outlook.com""}",id772
9,"{""backer_id"": ""lw275"", ""cf_id"": 65, ""name"": ""Leigha Wright"", ""email"": ""lwright@live.com""}",lw275

In [4]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".
cf_id_list = []

for i in range(len(backers_info)):
    cf_id = re.findall(r'(\s+\d{2,4})', string = backers_info["backer_info"][i])
    
    if cf_id not in cf_id_list:
        cf_id_list.append(cf_id[0])

backers_info["cf_id"] = cf_id_list
backers_info.head(10)

,backer_info,backer_id,cf_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563
5,"{""backer_id"": ""lh382"", ""cf_id"": 563, ""name"": ""Lambert Huber"", ""email"": ""lhuber@live.com""}",lh382,563
6,"{""backer_id"": ""em444"", ""cf_id"": 563, ""name"": ""Emmy Morin"", ""email"": ""emorin@live.com""}",em444,563
7,"{""backer_id"": ""at582"", ""cf_id"": 1572, ""name"": ""Armonda Trani"", ""email"": ""atrani@live.com""}",at582,1572
8,"{""backer_id"": ""id772"", ""cf_id"": 1911, ""name"": ""Ilana Duke"", ""email"": ""iduke@outlook.com""}",id772,1911
9,"{""backer_id"": ""lw275"", ""cf_id"": 65, ""name"": ""Leigha Wright"", ""email"": ""lwright@live.com""}",lw275,65

In [5]:
# Extract the name from the backer_info column and add it as a new column called "name".
name_list = []
for i in range(len(backers_info)):
    name = re.findall(r'([A-Za-z]+\s+[A-Za-z]+)', string = backers_info["backer_info"][i])
    
    if name not in name_list:
        name_list.append(name[0])
        
backers_info["name"] = name_list
backers_info.head(10)

,backer_info,backer_id,cf_id,name
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563,Hubert Arnold
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65,Loris Goulet
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563,Teodora Brunelli
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563,Lexie Hunt
5,"{""backer_id"": ""lh382"", ""cf_id"": 563, ""name"": ""Lambert Huber"", ""email"": ""lhuber@live.com""}",lh382,563,Lambert Huber
6,"{""backer_id"": ""em444"", ""cf_id"": 563, ""name"": ""Emmy Morin"", ""email"": ""emorin@live.com""}",em444,563,Emmy Morin
7,"{""backer_id"": ""at582"", ""cf_id"": 1572, ""name"": ""Armonda Trani"", ""email"": ""atrani@live.com""}",at582,1572,Armonda Trani
8,"{""backer_id"": ""id772"", ""cf_id"": 1911, ""name"": ""Ilana Duke"", ""email"": ""iduke@outlook.com""}",id772,1911,Ilana Duke
9,"{""backer_id"": ""lw275"", ""cf_id"": 65, ""name"": ""Leigha Wright"", ""email"": ""lwright@live.com""}",lw275,65,Leigha Wright

In [6]:
# Extract the email from the backer_info column and add it as a new column called "email".
emails_list = []

for i in range(len(backers_info)):
    emails = re.findall(r'[a-zA-Z]+@+[a-zA-Z]+.+[a-zA-Z]', string = backers_info["backer_info"][i])
    
    if emails not in emails_list:
        emails_list.append(emails[0])

backers_info["email"] = emails_list
backers_info.head(10)

,backer_info,backer_id,cf_id,name,email
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent,avincent@live.com
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563,Hubert Arnold,harnold@yandex.com
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65,Loris Goulet,lgoulet@yandex.com
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563,Teodora Brunelli,tbrunelli@outlook.com
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563,Lexie Hunt,lhunt@live.com
5,"{""backer_id"": ""lh382"", ""cf_id"": 563, ""name"": ""Lambert Huber"", ""email"": ""lhuber@live.com""}",lh382,563,Lambert Huber,lhuber@live.com
6,"{""backer_id"": ""em444"", ""cf_id"": 563, ""name"": ""Emmy Morin"", ""email"": ""emorin@live.com""}",em444,563,Emmy Morin,emorin@live.com
7,"{""backer_id"": ""at582"", ""cf_id"": 1572, ""name"": ""Armonda Trani"", ""email"": ""atrani@live.com""}",at582,1572,Armonda Trani,atrani@live.com
8,"{""backer_id"": ""id772"", ""cf_id"": 1911, ""name"": ""Ilana Duke"", ""email"": ""iduke@outlook.com""}",id772,1911,Ilana Duke,iduke@outlook.com
9,"{""backer_id"": ""lw275"", ""cf_id"": 65, ""name"": ""Leigha Wright"", ""email"": ""lwright@live.com""}",lw275,65,Leigha Wright,lwright@live.com

In [30]:
# Create a new DataFrame with the appropriate columns.
new_columns_backers_info = ["backer_id", "cf_id", "name", "email"]
backers_info = backers_info[new_columns_backers_info]
backers_info.head(10)

  backer_id  cf_id              name                  email
0     av166    968    Angelo Vincent      avincent@live.com
1     ha127    563     Hubert Arnold     harnold@yandex.com
2     lg794     65      Loris Goulet     lgoulet@yandex.com
3     tb566    563  Teodora Brunelli  tbrunelli@outlook.com
4     lh506    563        Lexie Hunt         lhunt@live.com
5     lh382    563     Lambert Huber        lhuber@live.com
6     em444    563        Emmy Morin        emorin@live.com
7     at582   1572     Armonda Trani        atrani@live.com
8     id772   1911        Ilana Duke      iduke@outlook.com
9     lw275     65     Leigha Wright       lwright@live.com

In [31]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backers_info.to_csv("backer_info.csv", index = False, encoding = 'utf8')

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [32]:
# Check data types.
backers_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   int64
 2   name       8175 non-null   object
 3   email      8175 non-null   object
dtypes: int64(1), object(3)
memory usage: 255.6+ KB

In [33]:
# Convert cf_id to an integer if necessary.
backers_info["cf_id"] = backers_info["cf_id"].astype("int64")

In [34]:
# Confirming that the cf_id column now contains only values of type int64
backers_info.dtypes

backer_id    object
cf_id         int64
name         object
email        object
dtype: object

In [35]:
# Split the "name" column into "first_name" and "last_name" columns.
backers_info[["first_name", "last_name"]] = backers_info["name"].str.split(" ", n=1, expand = True)
backers_info.head()

,backer_id,cf_id,name,email,first_name,last_name
0,av166,968,Angelo Vincent,avincent@live.com,Angelo,Vincent
1,ha127,563,Hubert Arnold,harnold@yandex.com,Hubert,Arnold
2,lg794,65,Loris Goulet,lgoulet@yandex.com,Loris,Goulet
3,tb566,563,Teodora Brunelli,tbrunelli@outlook.com,Teodora,Brunelli
4,lh506,563,Lexie Hunt,lhunt@live.com,Lexie,Hunt

In [37]:
#  Drop the name column
backers_info_cleaned = backers_info.drop(["name"], axis = 1)

# Reorder the columns
new_columns_backers_info_cleaned = ["backer_id", "cf_id", "first_name", "last_name", "email"]
backers_info_cleaned = backers_info_cleaned[new_columns_backers_info_cleaned]

# Displaying the first 10 rows of the newly cleaned DataFrame:
backers_info_cleaned.head(10)

  backer_id  cf_id first_name last_name                  email
0     av166    968     Angelo   Vincent      avincent@live.com
1     ha127    563     Hubert    Arnold     harnold@yandex.com
2     lg794     65      Loris    Goulet     lgoulet@yandex.com
3     tb566    563    Teodora  Brunelli  tbrunelli@outlook.com
4     lh506    563      Lexie      Hunt         lhunt@live.com
5     lh382    563    Lambert     Huber        lhuber@live.com
6     em444    563       Emmy     Morin        emorin@live.com
7     at582   1572    Armonda     Trani        atrani@live.com
8     id772   1911      Ilana      Duke      iduke@outlook.com
9     lw275     65     Leigha    Wright       lwright@live.com

In [38]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backers_info_cleaned.to_csv("backers.csv", index = False, encoding = 'utf8')